PORT=
MONGODB_URI=
GOOGLE_CLIENT_ID=
JWT_SECRET=
DISCORD_WEBHOOKS_CLIENT=
GEMINI_API_KEY=
OPENAI_API_KEY=
GROQ_API_KEY=
ANTHROPIC_API_KEY=
NODE_ENV=
ADMIN_USERNAME=
ADMIN_PASSWORD=
HUGGINGFACE_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=